* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 0 auto;
    text-align: center;
}

.container {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px , 450px));
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.container > * {
    height: 350px;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 5% 3%;
    border-radius: 5px;
    background: rgba(242, 137, 80, 0.1);
}

.container > form#add_channel > input {
    width: 100%;
}

table tbody tr td {
    padding: 1px 10px;
}

table tbody tr:nth-child(even) {
    background: rgba(65, 65, 65, 0.39);
}

#checkbox {
    margin-top: 10px;
    font-size: .8rem;
}

#checkbox input {
    width: 100%;
}

form#add_channel.panel div#checkbox table {
    margin-bottom: 15px;
}

.edit-panel {
    /*   margin: 0 auto; */
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: -300px;
    transition: transform .2s .2s ease-in-out;
    padding: 20px;
    border-radius: 5px;
    background-color: #3f3f3f;
    color: white;
}

.edit-panel form {
    display: flex;
    flex-flow: column;
}

.edit-panel form>* {
    margin: 5px;
}

.edit-panel form input[type='text'] {
    padding: 10px;
}

.edit-panel__active {
    transform: translateY(400px);
    z-index: 999;
}

#exit-btn {
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    margin: 0;
    position: absolute;
    top: 5px;
    right: 5px;
}

#exit-btn #exit {
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
}

#exit-btn #exit span {
    top: 50%;
    right: 5px;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    transform: translateX(-50%);
    transform: rotate(45deg);
}

#exit-btn #exit span::after {
    content: "";
    right: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    transform: rotate(-90deg);
}

section#lists {
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

li {
    list-style: none;
}

#users-list { 
    margin-bottom: 10%;
}

section#lists {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }