.container {
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

header {
    text-align: center;
}

.container>form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container > form > * {
    margin: 10px;
}


table, th, tr, td {
    border: 1px solid black;
}

.panel {
    min-width: 200px;
    max-width: 300px;
    margin: 10px;
}

.panel > *{
    width: 80%;
    padding: 5px;
}

#lists {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbox {
    min-width: 250px;
    max-width: 300px;
    min-height: 150px;
    max-height: 200px;
    overflow: scroll;
}