<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slack App Web Gui</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/scripts.js"></script>
</head>

<body>
    <div class="edit-panel">
        <button id="exit-btn">
            <div id="exit">
                <span></span>
            </div>
        </button>
        <form action="/channels/update" method="POST">
            <input type="hidden" value="" name="id">
            <label for="channel">Channel:</label>
            <input type="text" name="channels" readonly="readonly">
            <label for="whitelist">Whitelist:</label>
            <input type="text" name="whitelist" autocomplete="off">
            <input type="submit">
        </form>
    </div>
    <header>
        <h1>Slack read only hack</h1>
        <h2><a target='_blank' href="https://{{ workspaces.domain }}.slack.com">{{ workspaces.name }}</a></h2>
    </header>
    <div class="container">
        <form id="add_channel" class="panel" action="channels" method="POST">
            <label for="channel">Chanel id</label>
            <input type="text" name="channels" placeholder="Chanel id" list='channel_list' required
                autocomplete="off" />
            <datalist id="channel_list">
                {% for channel in channels %}
                <option value="{{ channel.id }}">{{ channel.name }}</option>
                {% endfor %}
            </datalist>
            <label for="whitelist">List of whitelisted users</label>
            <input type="text" id="filter_input" placeholder="Filter" autocomplete="off">
            <div id="checkbox">
                {% for user in users %}
                <div class="checkbox-option">
                    <input type="checkbox" id="{{ user.name }}" name="{{ user.id }}">
                    <label for="{{ user.name }}">{{ user.name }}
                        {% if user.profile.email %}
                        <br>
                        <span class="email">{{ user.profile.email|lower }}</span>
                        {% endif %}
                    </label>
                </div>
                {% endfor %}
            </div>
            <button type="submit" id='submit-btn'>Add</button>
        </form>
        <table class="panel" id="table">
            <tr>
                <th>id</th>
                <th>Channel id</th>
                <th>Whitelist</th>
            </tr>
            {% for row in all_data_dict %}
            <tr>
                <td class="row_id">{{ row.id }}</td>
                <td class="row_channel">{{ row.channel }}</td>
                <td class="row_whitelist">{{ row.whitelist|join(", ") }}</td>
                <td><a href="/delete/{{ row.id }}">Delete</a></td>
                <td><button id="edit-btn">Edit</button></td>
            </tr>
            {% endfor %}
        </table>
        <div id="app-control-container" class="panel">
            <form action="state" method="post">
                <button name="set_state" value="on" type="submit">Run the app</button>
            </form>
            <form action="state" method="post">
                <button name="set_state" value="off" type="submit">Stop the app</button>
            </form>
        </div>
        {% if app_state %}
        <h1 id="app_state">App is {{ app_state }}</h1>
        {% endif %}
    </div>
    <section id="lists">
        <div id="channels-list">
            <h1>Channel list:</h1>
            <ol>
                {% for channel in channels %}
                <li><strong>Name:</strong> {{ channel.name }} <strong>ID:</strong> {{ channel.id }}</li>
                {% endfor %}
            </ol>
        </div>
        <div id="users-list">
            <h1>Users list:</h1>
            <ol>
                {% for user in users %}
                <li><strong>Name:</strong> {{ user.name }} <strong>ID:</strong> {{ user.id }}</li>
                {% endfor %}
            </ol>
        </div>
    </section>
</body>

</html>