<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slack App Web Gui</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/scripts.js"></script>
</head>

<body>
    <header>
        <h1>Slack read only hack</h1>
        <h2><a target='_blank' href="https://{{ workspaces.domain }}.slack.com">{{ workspaces.name }}</a></h2>
    </header>
    <div class="container">
        <form id="add_channel" class="panel" action="channels" method="POST">
            <label for="channel">Chanel id</label>
            <input type="text" name="channels" placeholder="Chanel id" list='channel_list' required/>
            <datalist id="channel_list">
                {% for channel in channels %}
                <option value="{{ channel.id }}">{{ channel.name }}</option>
                {% endfor %}
            </datalist>
            <label for="whitelist">List of whitedlisted users (separated with comma)</label>
            <input type="text" name="whitelist" placeholder="Whitelisted users ids (comma separated)" list='users_list'/>
            <datalist id="users_list">
                    {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </datalist>
            <button type="submit" id='submit-btn'>Add</button>
        </form>
        <table class="panel" id="table">
            <tr>
                <th>id</th>
                <th>Channel id</th>
                <th>Whitelist</th>
            </tr>
            {% for row in all_data_dict %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.channel }}</td>
                <td>{{ row.whitelist|join(", ") }}</td>
                <td><a href="/delete/{{ row.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <div id="app-control-container" class="panel">
            <form action="state" method="post">
                <button name="set_state" value="on" type="submit">Run the app</button>
            </form>
            <form action="state" method="post">
                <button name="set_state" value="off" type="submit">Stop the app</button>
            </form>
        </div>
        {% if app_state %}
            <h1 id="app_state">App is {{ app_state }}</h1>
        {% endif %}
    </div>
    <section id="lists">
        <div id="channels-list">
            <h1>Channel list:</h1>
            <ol>
                {% for channel in channels %}
                    <li><strong>Name:</strong> {{ channel.name }} <strong>ID:</strong> {{ channel.id }}</li>
                {% endfor %}
            </ol>
        </div>
        <div id="users-list">   
            <h1>Users list:</h1>
            <ol>
                {% for user in users %}
                    <li><strong>Name:</strong> {{ user.name }} <strong>ID:</strong> {{ user.id }}</li>
                {% endfor %}
            </ol>
        </div>
    </section>
</body>

</html>