<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Slack App Web Gui</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/scripts.js"></script>
</head>

<body>
    <div class="container">
        <form>
            <label for="channel">Chanel id</label>
            <input type="text" name="channels" placeholder="Chanel id" />
            <label for="whitelist">List of whitedlisted users (separated with comma)</label>
            <input type="text" name="whitelist" placeholder="Whitelisted users ids (comma separated)" />
        </form>
        <button id='submit-btn'>Add</button>
        <table id="table">
            <tr>
                <th>id</th>
                <th>Channel id</th>
                <th>Whitelist</th>
            </tr>
            {% for row in all_data_dict %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.channel }}</td>
                <td>{{ row.whitelist|join(", ") }}</td>
                <td><a href="/delete/{{ row.id }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <button id="run_app">Run the app</button>
        <button id="stop_app">Stop the app</button>
        <h1 id="app_state"></h1>
    </div>
    <h1>Authorized workspaces:</h1>
    <ol>
        {% for workspace in workspaces %}
            <li>{{ workspace[0] }} ---- {{ workspace[1] }} ---- {{ workspace[2] }}</li>
        {% endfor %}
    </ol>
    <h1>Channel list:</h1>
    <ol>
        {% for conv in conversations %}
            <li>{{ conv[0] }} ---- {{ conv[1] }}</li>
        {% endfor %}
    </ol>
    <h1>Users list:</h1>
    <ol>
        {% for user in users %}
            <li>{{ user[0] }} ---- {{ user[1] }}</li>
        {% endfor %}
    </ol>
</body>

</html>